# build-directories
*/build-*

# android keystore
*/android_release.keystore

# circuit design
*/__Previews/
**/History/
**/__Previews

#documents
**/Document/*.aux
**/Document/*.bbl
**/Document/*.blg
**/Document/*.lof
**/Document/*.log
**/Document/*.nlo
**/Document/*.out
**/Document/*.synctex.gz
**/Document/*.toc
